/* 이미지 스타일 */
.envImge01 {
  display: block;
  width: 100%;
}

.envImge01 img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .envImge01 {
    padding: 10px;
  }
}
