/* ======================================= */
/*                 표 스타일                 */
/* ======================================= */
/* 테이블 래퍼 */

.table-wp {
  margin-bottom: 32px;
}

/* 데코 검색창 - 배경 박스 */
.search-deco-wp {
  padding: 34px 0;
  background-color: var(--primary-50);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

/* 반응형 */
@media (max-width: 768px) {
  .search-deco-wp {
    padding: 20px;
  }
}

/* 표 상단 헤더 - 검색창 , 페이지카운트 */

.table-top-wp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px 0;
}

.table-count-wp {
  font-size: 15px;
  color: var(--gray-600);
}

.table-count-wp span {
  font-size: inherit !important;
}

.table-count-wp .div-line {
  color: var(--gray-300);
  padding: 0 8px;
  font-weight: 500;
}

/* 검색창 - table-search (테이블 검색용) */

.table-search-wp {
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: stretch; */
}

.table-search-select {
  flex-shrink: 0;
  min-width: 105px;
  padding: 12px 16px 12px 10px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  color: var(--gray-700);
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23a9a9a9' d='M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  height: 48px;
}

.table-search-select:hover {
  border-color: var(--gray-800);
}

.table-search-select:focus {
  outline: none;
  border-color: var(--gray-800);
  box-shadow: 0px 0px 14px 0px rgba(143, 171, 255, 0.24);
}

.table-search-input {
  width: 400px;
  padding: 12px 12px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  font-size: 15px;
  color: var(--gray-700);
  transition: all 0.3s ease;
  white-space: nowrap;
  height: 48px;
  /* overflow-x: auto; */
}

.table-search-input::placeholder {
  color: var(--gray-400);
}

.table-search-input:hover {
  border-color: var(--gray-800);
}

.table-search-input:focus {
  outline: none;
  border-color: var(--gray-800);
  box-shadow: 0px 0px 13px 0px rgb(38 59 121 / 10%);
}

.table-search-btn {
  flex-shrink: 0;
  min-width: 92px;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  height: 48px;
}

@media (max-width: 768px) {
  .table-wp {
    overflow-x: auto;
    margin-bottom: 24px;
  }

  .table-search-wp {
    gap: 6px;
    margin: 0;
  }
  .table-search-select {
    min-width: 100%;
  }
  .table-search-btn {
    width: 100%;
    min-width: 100%;
  }
  .table-search-select,
  .table-search-input {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
  }

  .table-search-select,
  .table-search-input,
  .table-search-btn {
    height: 42px;
    font-size: 14px;
  }
}

@media (max-width: 431px) {
  .table-top-wp {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-search-wp {
    width: 100%;
  }
}
/* 공통 */
table thead td.tac,
table thead th.tac,
table tbody td.tac,
table tbody th.tac {
  text-align: center;
}

thead.h120 tr th,
tbody.h120 tr th {
  width: 120px;
}

thead.h140 tr th,
tbody.h140 tr th {
  width: clamp(90px, 12vw + 50px, 140px);
}

thead.w200 tr th,
tbody.w200 tr th {
  width: clamp(90px, 25vw + 10px, 200px);
}

table thead th.w120,
.w120 {
  width: 120px;
}
table thead th.w140,
.w140 {
  width: clamp(90px, 12vw + 50px, 140px);
}
table thead th.w160,
.w160 {
  width: 160px;
}
table thead th.w180,
.w180 {
  width: 180px;
}

table tbody.boR tr td {
  border-right: 1px solid var(--line-50);
}

table tbody.boR tr td:last-child {
  border-right: 0;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  table thead th.w120 {
    width: 72px;
  }

  table thead th.w140 {
    width: 96px;
  }

  table thead th.w160 {
    width: 100px;
  }

  table thead th.w180 {
    width: 146px;
  }
}

@media (max-width: 320px) {
  thead.h140 tr th,
  tbody.h140 tr th {
    width: 98px;
  }

  table thead th.w180 {
    width: 138px;
  }
}

table .w60 {
  width: 60px;
}
table .w80 {
  width: 80px;
}
table .w90 {
  width: 90px;
}
table .w100 {
  width: 100px;
}
table .w110 {
  width: 110px;
}
table .w120 {
  width: 120px;
}

@media (max-width: 768px) {
  table .w60 {
    width: 48px;
  }
  table .w80 {
    width: 74px;
  }
  table .w90 {
    width: 70px;
  }
  table .w100 {
    width: 90px;
  }
  table .w110 {
    width: 100px;
  }
  table .w120 {
    width: 110px;
  }

  table .count {
    font-size: 14px !important;
  }
}

/* 테이블 링크 */
.table-link {
  color: var(--gray-700);
  text-decoration: none;
  transition: color 0.2s ease;
  display: inline-block;
  padding: 7px 0;
  width: 100%;
}

.table-link:hover {
  color: var(--primary-600);
  text-decoration: underline;
}

/* 한 줄 말줄임표 */
.table-link.oneLine {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* 파일 아이콘 */
.file-icons {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.file-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  pointer-events: none;
}

@media (max-width: 768px) {
  .file-icon {
    width: 20px;
    height: 20px;
  }
}

/* ========== tableA (관련법령/) ========== */
.tableA {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.tableA thead th {
  padding: 16px;
  background-color: var(--gray-50);
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-700);
  border-top: 2px solid var(--gray-600);
  border-bottom: 1px solid var(--line-100);
  text-align: left;
}

.tableA tbody td {
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 400;
  color: var(--gray-700);
  line-height: 1.6;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: Center;
}

.tableA tbody tr {
  transition: all 0.3s ease;
}
.tableA tbody tr:hover {
  background-color: var(--primary-20);
}
.tableA tbody tr:last-child td {
  border-bottom: 1px solid var(--line-100);
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  /* 모바일에서 파일, 등록일, 조회 컬럼 숨기기 */
  .tableA th:nth-child(4), /* 등록일 */
  .tableA th:nth-child(5), /* 파일 */
  .tableA th:nth-child(6), /* 조회 */
  .tableA td:nth-child(4),
  .tableA td:nth-child(5),
  .tableA td:nth-child(6) {
    display: none;
  }

  .tableA thead th {
    padding: 14px 10px;
    font-size: 14px;
  }
  .tableA tbody td {
    padding: 14px 8px;
    font-size: 15px;
    line-height: 1.5;
  }
}

/* ========== tableB () ========== */
.tableB {
  width: 100%;
  border-collapse: collapse;
  margin-top: 24px;
  background-color: #fff;
  box-sizing: border-box;
}

.tableB th,
.tableB td {
  padding: 20px 24px;
  border: 1px solid #e8eff2;
}

.tableB th {
  background-color: #effaf9;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-700);
  width: 150px;
}

.tableB td {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-700);
  line-height: 1.6;
  background-color: #fff;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .r-content {
    gap: 40px;
    padding: 0;
  }

  .txt-section {
    gap: 12px;
  }

  .txt-section p {
    font-size: 15px;
    line-height: 1.5;
  }

  .list-section {
    gap: 18px;
  }

  .tableB th,
  .tableB td {
    padding: 16px 16px;
    font-size: 14px;
  }

  .tableB th {
    width: 100px;
  }
}

/* ==========  tableC (조정의종류/세부피해내역) ========== */
.tableC {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.tableC thead th {
  padding: 16px 20px;
  background-color: var(--gray-50);
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-700);
  border-top: 2px solid var(--gray-600);
  border-bottom: 1px solid var(--line-100);
  text-align: left;
}

.tableC tbody td {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--gray-700);
  line-height: 1.6;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: Center;
}

.tableC tbody tr:last-child td {
  border-bottom: 1px solid var(--line-100);
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .tableC thead th {
    padding: 14px 10px;
    font-size: 14px;
  }
  .tableC tbody td {
    padding: 16px 10px;
    font-size: 15px;
    line-height: 1.5;
  }
}

/* ========== tableD ========== */
.tableD {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
  border: 1px solid #e6ebf0;
  border-radius: 12px;
  overflow: hidden;
}

.tableD thead th {
  padding: 14px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6ebf0;
  word-break: keep-all;
}

.table-d-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.table-d-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-700);
}

.tableRbtnWp {
  display: flex;
  gap: 8px;
}

.tableD tbody th,
.tableD tbody td {
  padding: 12px 16px;
  border-bottom: 1px solid #eef1f4;
  font-size: 15px;
  color: var(--gray-700);
  text-align: left;
}

.tableD tbody th {
  background-color: #f7fafc;
  font-weight: 500;
}

.tableD tbody tr:last-child th,
.tableD tbody tr:last-child td {
  border-bottom: none;
}

.table-st-wp {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: clamp(24px, 3vw + 10px, 34px);
}

@media (max-width: 768px) {
  .tableD tbody tr {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0;
  }

  .tableD thead th {
    padding: 12px;
  }

  .table-d-head {
    flex-direction: column;
    align-items: flex-start;
  }

  .tableRbtnWp {
    width: 100%;
    flex-wrap: wrap;
  }

  .tableD tbody th,
  .tableD tbody td {
    padding: 10px;
    font-size: 15px;
    display: block;
    width: 100%;
  }

  .tableD tbody th {
    background-color: #f7fafc;
    font-weight: 500;
  }
}

/* ======================================= */
/*  페이지네이션                         */
/* ======================================= */

/* 페이지네이션 */
.pagination-wp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--gray-500);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-first,
.page-prev,
.page-next,
.page-last {
  font-size: 22px;
  color: var(--gray-400);
}

.page-prev {
  margin-right: 6px;
}
.page-next {
  margin-left: 6px;
}
.page-number {
  margin: 0 2px;
}

.page-btn:hover {
  border-color: var(--gray-100);
  background-color: var(--gray-100);
  color: var(--gray-800);
}

.page-btn.active {
  border-color: var(--gray-600);
  background-color: #fff;
  color: var(--gray-800);
  font-weight: 500;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .pagination-wp {
    gap: 0px;
    margin: 18px 0;
  }

  .page-btn {
    width: 34px;
    height: 34px;
    padding: 6px;
    font-size: 14px;
  }

  /*  페이지 번호 5개만 표시 */
  .pagination-wp .page-number:nth-child(n + 8) {
    display: none;
  }
}

/*  페이지 번호 3개만 표시 */
@media (max-width: 480px) {
  .pagination-wp .page-number:nth-child(n + 6) {
    display: none;
  }
}
/* ======================================= */
/*  탭 콘텐츠 스타일                           */
/* ======================================= */

.tabBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 24px;
}

.tab-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 11px 22px;
  font-size: var(--font-normal);
  font-weight: 500;
  color: var(--gray-600);
  background-color: #fff;
  border: 1px solid var(--gray-100);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}

.tab-button.active {
  background-color: var(--primary-50);
  color: var(--primary-700);
  border-color: var(--primary-500);
  padding-left: 18px;
  cursor: default;
}

.tab-button:hover:not(.active) {
  text-decoration: underline;
  text-underline-offset: 2px;
  /* color: var(--primary-600) */
  border-color: var(--gray-400);
}

.tab-button .svg-inline--fa {
  display: none;
}

.tab-button.active .svg-inline--fa {
  font-size: 15px;
  display: inline-block;
  color: var(--primary-700);
}

/* 탭 콘텐츠 애니메이션 */
.dma-content {
  animation: fadeIn 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .tabBtns {
    gap: 8px 6px;
  }

  .tab-button {
    gap: 2px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 500;
  }

  .tab-button.active {
    padding-left: 13px;
  }
}

/* ======================================= */
/*  첨부파일                                 */
/* ======================================= */

/* ========== 첨부파일 다운로드 ========== */
.attach-files {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.attach-file-link {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  color: var(--gray-700);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 4px;
  border-radius: 4px;
}

.attach-file-icon {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  display: inline-block;
  background-color: var(--gray-600);
  -webkit-mask: url("../assets/images/download-icon.svg") no-repeat center /
    contain;
  mask: url("../assets/images/download-icon.svg") no-repeat center / contain;
}
.attach-file-link:hover {
  color: var(--primary-600);
  text-decoration: underline;
  text-underline-offset: 2px;
  /* background-color: var(--primary-50); */
}
.attach-file-link:hover .attach-file-icon {
  background-color: var(--primary-600);
}

/* ========== 첨부파일 확인 ========== */

.attach-file-view {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4px;
  color: var(--gray-700);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 4px;
  border-radius: 4px;
}

.attach-view-icon {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  display: inline-block;
  background-color: var(--gray-600);
  -webkit-mask: url("../assets/images/file-view-icon.svg") no-repeat center /
    contain;
  mask: url("../assets/images/file-view-icon.svg") no-repeat center / contain;
}

/* ======================================= */
/*  버튼스타일                                 */
/* ======================================= */
/* <button className="btn btn-secondary btn-lg">secondary</button>
<button className="btn btn-line primary btn-xs">우편번호</button>
<button className="btn btn-line btn-xs">삭제</button>
<button className="btn btn-line red btn-xs">취소</button>
<button className="btn btn-gray red btn-md">신청서다운로드
  <FontAwesomeIcon icon={faDownload} />
</button> */

/* btn wp */

.btnWp {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btnWp.center {
  justify-content: center;
}

.btnWp.f-end {
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .btnWp {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }

  .btnWp .btn {
    flex: 1;
  }
}

/* 기본 버튼 */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  gap: 4px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Primary 버튼 */
.btn-primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--primary-700);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.192);
}

.btn-primary:active:not(:disabled) {
  transform: translateY(0);
}

/* Secondary 버튼 */
.btn-secondary {
  background-color: var(--gray-600);
  color: var(--gray-50);
}
.btn-secondary:hover:not(:disabled) {
  background-color: var(--gray-800);
  color: #fff;
  box-shadow: 0 4px 8px rgba(15, 16, 16, 0.144);
}

/* cancel  버튼 */

.btn-cancel {
  background-color: #fff;
  color: var(--gray-600);
  border: 1px solid var(--gray-300);
}

.btn-cancel:hover:not(:disabled) {
  background-color: var(--gray-100);
  border-color: var(--gray-100);
  box-shadow: 0 4px 8px rgba(15, 16, 16, 0.144);
}

/* line 버튼 */

.btn-line {
  background-color: #fff;
  color: var(--gray-700);
  border: 1px solid var(--gray-700);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.btn-line:hover:not(:disabled) {
  background-color: var(--gray-100);
  box-shadow: 0 2px 4px rgba(15, 16, 16, 0.144);
}

.btn-line.primary {
  border-color: var(--primary-700);
  color: var(--primary-700);
}

.btn-line.primary:hover:not(:disabled) {
  background-color: var(--primary-70);
}

.btn-line.red {
  border-color: var(--accent-500);
  color: var(--accent-600);
}

.btn-line.red:hover:not(:disabled) {
  background-color: var(--accent-50);
}

/* gray 버튼 */
.btn-gray {
  background-color: var(--gray-50);
  color: var(--gray-600);
}

.btn-gray:hover:not(:disabled) {
  background-color: var(--primary-600);
  color: #fff;
  box-shadow: 0 4px 8px rgba(15, 16, 16, 0.144);
}

/* 버튼 크기 */

.btn-xs {
  padding: 4px 14px;
  font-size: 14px;
  height: 38px;
}

.btn-sm {
  padding: 8px 16px;
  font-size: 15px;
  height: 42px;
}

.btn-md {
  min-width: 120px;
  padding: 10px 24px;
  font-size: 15px;
  height: 48px;
}

.btn-lg {
  padding: 10px 34px;
  font-size: 16px;
  height: 56px;
  border-radius: 8px;
}

/* 전체 너비 버튼 */
.btn-block {
  width: 100%;
}

/* ========== 모바일 반응형 ========== */
@media (max-width: 768px) {
  .page-title {
    margin-bottom: 14px;
  }

  .btn {
    font-size: 15px;
  }

  .btn-sm {
    font-size: 14px;
    height: 40px;
  }

  .btn-md {
    font-size: 14px;
    height: 46px;
  }

  .btn-lg {
    font-size: 15px;
    height: 52px;
  }
}
