/* Breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.breadcrumb-link {
  color: var(--gray-500);
  text-decoration: none;
  transition: color 0.2s;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.breadcrumb-link:not([disabled]):hover {
  color: var(--gray-500);
  cursor: auto;
}

.breadcrumb-link:hover {
  color: var(--primary-600);
}

.breadcrumb-home-icon {
  width: 18px;
  height: 18px;
  transition: filter 0.2s;
}

.breadcrumb-link.home:hover .breadcrumb-home-icon {
  filter: brightness(0) saturate(100%) invert(42%) sepia(96%) saturate(1234%)
    hue-rotate(180deg) brightness(94%) contrast(101%);
}

.breadcrumb-separator {
  color: var(--gray-400);
  font-size: 10px;
  display: flex;
  align-items: center;
}

.breadcrumb-current {
  color: var(--gray-700);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .breadcrumb-list {
    gap: 4px;
  }

  .breadcrumb-item {
    font-size: 13px;
    gap: 4px;
  }

  .breadcrumb-link {
    font-size: 13px;
  }

  .breadcrumb-current {
    font-size: 13px;
  }

  .breadcrumb-separator {
    font-size: 9px;
  }

  .breadcrumb-home-icon {
    width: 16px;
    height: 16px;
  }
}
