/* Main Visual */
.main-visual {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
  min-height: 800px;
  display: flex;
  align-items: center;
  color: #fff;
}

.main-visual::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
}

.main-visual .container {
  position: relative;
  z-index: 1;
}

.main-visual-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.main-visual-left {
  max-width: 520px;
}

.main-visual-badge {
  display: inline-block;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
  opacity: 0.9;
}

.main-visual-title {
  font-size: clamp(35px, 6vw, 54px);
  line-height: 1.35;
  font-weight: 500;
  margin: 0 0 48px;
}

.main-visual-desc {
  font-size: clamp(15px, 2vw, 18px);
  line-height: 1.7;
  margin: 0;
  opacity: 0.9;
  color: #fff;
}

.main-visual-right {
  flex-shrink: 0;
}

.main-visual-panel {
  width: 400px;
  border-radius: 14px;
  padding: 14px;
  color: var(--gray-700);
}

.main-visual-links {
  display: flex;
  gap: 0;
  margin-bottom: 16px;
  border: 1px solid #e5e7ee;
  border-radius: 10px;
  overflow: hidden;
}

.main-visual-link {
  flex: 1;
  height: 48px;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  color: var(--gray-700);
  cursor: pointer;
  transition: all 0.2s ease;
}

.main-visual-link:hover,
.main-visual-link:focus {
  background-color: var(--primary-50);
  color: var(--primary-600);
  text-decoration: underline;
  text-underline-offset: 5px;
  /* text-decoration-thickness: 2px; */
}

.main-visual-link:focus {
  outline: 2px dotted var(--gray-800);
  outline-offset: -2px;
}

.main-visual-link + .main-visual-link {
  border-left: 1px solid #e5e7ee;
}

.main-visual-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 18px;
}

.main-visual-card {
  border: 1px solid var(--line-100);
  border-radius: 12px;
  background-color: #fff;
  padding: 26px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.main-visual-card:hover,
.main-visual-card:focus {
  border-color: var(--primary-600);
  box-shadow: 0 6px 26px rgb(0 0 0 / 17%);
  transform: translateY(-2px);
}

.main-visual-card:focus {
  outline: 2px dotted var(--gray-800);
  outline-offset: -4px;
}

.main-visual-card:hover .main-visual-card-sub {
  color: var(--primary-600);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.main-visual-card:hover .main-visual-card-icon,
.main-visual-card:focus .main-visual-card-icon {
  scale: 1.05;
}

.main-visual-card-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  margin-bottom: 2px;
}

.main-visual-card-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-visual-card-title {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-600);
}

.main-visual-card-sub {
  font-size: 14px;
  color: var(--gray-500);
  margin-bottom: 2px;
}

.main-visual-primary {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  background: rgba(5, 147, 255, 0.8);
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.main-visual-primary:hover,
.main-visual-primary:focus {
  background-color: var(--primary-700);
}

.main-visual-primary:focus {
  outline: 2px dotted #fff;
  outline-offset: -4px;
}

/* 태블릿 */
@media (max-width: 1024px) {
  .main-visual {
    padding: 60px 0;
  }

  .main-visual-left {
    padding: 0 20px;
  }
  .main-visual-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-visual-right {
    width: 100%;
  }

  .main-visual-panel {
    width: 100%;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .main-visual-content {
    gap: 20px;
  }
  .main-visual {
    padding: 50px 0;
    min-height: auto;
  }

  .main-visual-title {
    margin-bottom: 22px;
  }
  .main-visual-left {
    padding: 8px;
  }

  .main-visual-badge {
    margin-bottom: 12px;
  }
  .main-visual-panel {
    padding: 8px;
  }

  .main-visual-link {
    font-size: 15px;
    height: 48px;
  }

  .main-visual-links {
    margin-bottom: 14px;
  }

  .main-visual-cards {
    grid-template-columns: 1fr 1fr;
    gap: 10 px;
    margin-bottom: 14px;
  }

  .main-visual-card {
    padding: 16px 12px;
    gap: 8px;
  }

  .main-visual-card-icon {
    width: 48px;
    height: 48px;
  }

  .main-visual-card-title {
    font-size: 15px;
  }

  .main-visual-card-sub {
    font-size: 12px;
  }

  .main-visual-primary {
    height: 52px;
    font-size: 15px;
  }
}
